<!DOCTYPE html>

<html>
  <head>
    <title>@website_config.site_name</title>

    <%= favicon_link_tag @website_config.icon_url %>
  </head>

  <body>
    <%= render_title_banner(@website_config) %>

    <% @website_config.widgets.each do |widget| %>
      <%= render_widget(widget) %>
    <% end %>
  </body>
</html>
